<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>PluginType</key>
			<string>1</string>
			<key>UnderVoltStep</key>
			<string>0</string>
			<key>DropOem</key>
			<false/>
			<key>NoOemTableId</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>DropForAllOS</key>
				<false/>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>xh_rvp10</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
</array>
		<key>DisabledAML</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
</array>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					QVBYWA==					</data>
					<key>Comment</key>
					<string>AICPUPM: Rename APSS to APXX</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					QVBTUw==					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WEFORQk=					</data>
					<key>Comment</key>
					<string>ATK support: Rename M(IANE) to XANE</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					SUFORQk=					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WFEwQQ==					</data>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q0A) to XQ0A F1</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					X1EwQQ==					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WFEwQg==					</data>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q0B) to XQ0B F2</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					X1EwQg==					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WFEwRQ==					</data>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q0E) to XQ0E F5</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					X1EwRQ==					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WFEwRg==					</data>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q0F) to XQ0F F6</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					X1EwRg==					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WFExMQ==					</data>
					<key>Comment</key>
					<string>ATK support: Rename M(_Q11) to XQ11 F8</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					X1ExMQ==					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WEJJRgA=					</data>
					<key>Comment</key>
					<string>Battery fix: Rename M(BIFA) to XBIF</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					QklGQQA=					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=					</data>
					<key>Comment</key>
					<string>Battery fix: Rename M(FBST) to XBST</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Find</key>
					<data>
					RkJTVAQ=					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WE1CUgs=					</data>
					<key>Comment</key>
					<string>Battery fix: Rename M(SMBR) to XSMR</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					U01CUgs=					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WE1CVw0=					</data>
					<key>Comment</key>
					<string>Battery fix: Rename M(SMBW) to XSMW</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					U01CVw0=					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WEJJWAA=					</data>
					<key>Comment</key>
					<string>Battery fix: Rename M(_BIX) to XBIX</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					X0JJWAA=					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Mask</key>
					<data>
										</data>
					<key>Disabled</key>
					<false/>
					<key>OemTableId</key>
					<data>
					AAAAAAAAAAA=					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TableLength</key>
					<integer>0</integer>
					<key>ReplaceMask</key>
					<data>
										</data>
					<key>Replace</key>
					<data>
					WFBSVwI=					</data>
					<key>Comment</key>
					<string>Sleep fix: Rename M(GPRW) to XPRW</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Find</key>
					<data>
					R1BSVwI=					</data>
					<key>TableSignature</key>
					<data>
					AAA=					</data>
					<key>Enabled</key>
					<true/>
					<key>Limit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Find</key>
					<data>
					UkFMUwA=					</data>
					<key>Replace</key>
					<data>
					WEFMUwA=					</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>ALS: change Method(RALS,0,S) XALS</string>
				</dict>
</array>
			<key>Fixes</key>
			<dict>
				<key>FixTMR</key>
				<true/>
				<key>FixRTC</key>
				<true/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Arguments</key>
		<string>-v alcid=13 brcmfx-country=US bpr_probedelay=200 bpr_initialdelay=400 bpr_postresetdelay=400</string>
		<key>#Arguments - 2</key>
		<string></string>
		<key>XMPDetection</key>
		<false/>
		<key>#Comment-#Arguments - 2</key>
		<string>If you do not have DW1560</string>
		<key>#Comment-Arguments</key>
		<string>Only if you have DW1560</string>
		<key>Timeout</key>
		<integer>0</integer>
		<key>DefaultVolume</key>
		<string>macOS</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
</array>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
		<key>C4</key>
		<false/>
		<key>HWPEnable</key>
		<false/>
		<key>C6</key>
		<false/>
		<key>C2</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>name</key>
				<string>audio</string>
				<key>layout-id</key>
				<data>
				AwAAAA==				</data>
				<key>model</key>
				<string>Conexant CX8050 High-Definition Audio</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Audio Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>name</key>
				<string>display</string>
				<key>framebuffer-con1-busid</key>
				<data>
				AAAAAA==				</data>
				<key># LVDS, Dummy, HDMI, Dummy</key>
				<string>LVDS@0 and HDMI@2</string>
				<key>device-id</key>
				<data>
				FlkAAA==				</data>
				<key>framebuffer-con1-pipe</key>
				<data>
				AAAAAA==				</data>
				<key>device_type</key>
				<string>Display Controller</string>
				<key>framebuffer-con1-index</key>
				<data>
				/////w==				</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==				</data>
				<key>framebuffer-con1-type</key>
				<data>
				AQAAAA==				</data>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAWWQ==				</data>
				<key>framebuffer-con1-flags</key>
				<data>
				IAAAAA==				</data>
				<key>model</key>
				<string>Intel UHD Graphics 620</string>
				<key>framebuffer-con1-enable</key>
				<data>
				AQAAAA==				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==				</data>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>
				SU9LaXQ=				</data>
				<key>Name</key>
				<string>AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>
				SU9LaXM=				</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>
				SU9LaXQ=				</data>
				<key>Name</key>
				<string>AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>
				SU9LaXM=				</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=				</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=				</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
</array>
		<key>PanicNoKextDump</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>
				ILniAAAADzA=				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=				</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha (Delete this patch after unlocking MSR 0xE2)</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>
				igKEwHRC				</data>
				<key>Replace</key>
				<data>
				igKEwOtC				</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
</array>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
</array>
		<key>KernelLapic</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF426</string>
		<key>Board-ID</key>
		<string>Mac-53FDB3D8DB8CA971</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>BoardVersion</key>
		<string>MacBookPro15,4</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x9</string>
		<key>BiosVersion</key>
		<string>MBP154.88Z.F000.B00.2101062059</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Mobile</key>
		<true/>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,4</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1554.80.3.0.0</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>01/06/2021</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>PanicNoKextDump</key>
		<true/>
		<key>RequestBootVarRouting</key>
		<true/>
		<key>Comment</key>
		<string>Below Quirks were taken from the VivoBook OC config.plist, are not (yet?) present in Clover or named differently and might or might not be included at some point; they can be considered placeholders or reminders until they are either relevant or removed</string>
		<key>AppleCpuPmCfgLock</key>
		<true/>
		<key>AppleXcpmCfgLock</key>
		<true/>
		<key>SetApfsTrimTimeout</key>
		<integer>-1</integer>
		<key>ExitBootServicesDelay</key>
		<integer>0</integer>
		<key>TscSyncTimeout</key>
		<integer>0</integer>
	</dict>
	<key>Comment</key>
	<string>This config was created by @hieplpvip for S510 (Kaby Lake R), modified for my VivoBook BQ514T (90NB0FQ1-M08550) @Lee Binder/ BuxB</string>
</dict>
</plist>
