<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change APSS to APXX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QVBTUw==</data>
					<key>Replace</key>
					<data>QVBYWA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EUSB to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RVVTQg==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change USBE to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VVNCRQ==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change AZAL to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QVpBTA==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TUVJXw==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _REG to XREG in EC0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1JFRwKgCw==</data>
					<key>Replace</key>
					<data>WFJFRwKgCw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,S) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BUUwk=</data>
					<key>Replace</key>
					<data>WlBUUwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(_BIX,0) to Method(XBIX,0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0JJWAA=</data>
					<key>Replace</key>
					<data>WEJJWAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(BIFA,0) to Method(XBIF,0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QklGQQA=</data>
					<key>Replace</key>
					<data>WEJJRgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(SMBR,3,Serialized) to Method(XSMR,3,Serialized)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CUgs=</data>
					<key>Replace</key>
					<data>WFNNUgs=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(SMBW,5,Serialized) to Method(XSMW,5,Serialized)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CVw0=</data>
					<key>Replace</key>
					<data>WFNNVw0=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: Rename Method(FBST,4) to Method(XBST,4)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RkJTVAQ=</data>
					<key>Replace</key>
					<data>WEJTVAQ=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ALS: change Method(RALS,0,S) XALS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UkFMUwA=</data>
					<key>Replace</key>
					<data>WEFMUwA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0A,0,NS) to XQ0A</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EwQQA=</data>
					<key>Replace</key>
					<data>WFEwQQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0B,0,NS) to XQ0B</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EwQgA=</data>
					<key>Replace</key>
					<data>WFEwQgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0E,0,NS) to XQ0E</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EwRQA=</data>
					<key>Replace</key>
					<data>WFEwRQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q0F,0,NS) to XQ0F</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EwRgA=</data>
					<key>Replace</key>
					<data>WFEwRgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_QCD,0,NS) to XQCD</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1FDRAA=</data>
					<key>Replace</key>
					<data>WFFDRAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q11,0,NS) to XQ11</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExMQg=</data>
					<key>Replace</key>
					<data>WFExMQg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q76,0,NS) to XQ76</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E3NgA=</data>
					<key>Replace</key>
					<data>WFE3NgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _STA methods in MATH and LDR2 device to XSTA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1NUQQCgDZNQ</data>
					<key>Replace</key>
					<data>WFNUQQCgDZNQ</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q6C,0,NS) to XQ6C</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2QwA=</data>
					<key>Replace</key>
					<data>WFE2QwA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q6D,0,NS) to XQ6D</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2RAA=</data>
					<key>Replace</key>
					<data>WFE2RAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q6E,0,NS) to XQ6E</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2RQA=</data>
					<key>Replace</key>
					<data>WFE2RQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q6F,0,NS) to XQ6F</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2RgA=</data>
					<key>Replace</key>
					<data>WFE2RgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ELAN: change USTP to XSTP to assign default values to SSCN and FMCN</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>VVNUUA==</data>
					<key>Replace</key>
					<data>WFNUUA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ELAN: disable I2C0 (by whatnameisit)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>FA9fU1RBAKRMU1RBU01EMA==</data>
					<key>Replace</key>
					<data>FA9YU1RBAKRMU1RBU01EMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ELAN: change Method(_STA,0,NS) in GPI0 to XSTA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X1NUQQCgCZNTQlJH</data>
					<key>Replace</key>
					<data>WFNUQQCgCZNTQlJH</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ELAN: change Method(_CRS,0,S) in ETPD to XCRS</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X0NSUwgIU0JGSQ==</data>
					<key>Replace</key>
					<data>WENSUwgIU0JGSQ==</data>
				</dict>
			</array>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DisabledAML</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>xh_rvp10</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<true/>
			<key>PluginType</key>
			<string>1</string>
			<key>UnderVoltStep</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>BC58D1DD-A41F-4B3F-752C-9B493D399C95</string>
		<key>Arguments</key>
		<string>igfxcflbklt=0 keepsyms=1 kext-dev-mode=1 brcmfx-country=US bpr_probedelay=200 bpr_initialdelay=400 bpr_postresetdelay=400 -brcmfxwowl -f -v</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>HibernationFixup</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>StrictHibernate</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<false/>
		<key>C4</key>
		<false/>
		<key>C6</key>
		<false/>
		<key>FrequencyMHz</key>
		<integer>1600</integer>
		<key>HWPEnable</key>
		<false/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Comment</key>
	<string>This config is created by @hieplpvip for S510 (KabyLake-R)</string>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>13</integer>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
		<string>ApfsDriverLoader-64</string>
		<string>AptioMemoryFix-64</string>
		<string>SMCHelper-64</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Mojave</string>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>M</string>
					<key>Ignore</key>
					<false/>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>7F630CDA-BEC8-4BCA-DA41-31813A7551F7</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>High Sierra</string>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>H</string>
					<key>Ignore</key>
					<false/>
					<key>InjectKexts</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Settings</key>
					<string>config-15,2</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>BC58D1DD-A41F-4B3F-752C-9B493D399C95</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Catalina</string>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>C</string>
					<key>Ignore</key>
					<false/>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>79A24A6B-400F-4B8F-A13E-6AE3F50EE698</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>CustomIcons</key>
		<true/>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1600x900</string>
		<key>Theme</key>
		<string>metal</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>igKEwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.12 (credit denskop)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AQAAdSU=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6yU=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.13 (based on denskop patch)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AQAAdSI=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6yI=</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>01/05/2020</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBA82.88Z.F000.B00.2001052203</string>
		<key>Board-ID</key>
		<string>Mac-226CB3C6A851A671</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>FVF920306J900001H</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>Air-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>1037.80.41.0.0</string>
		<key>Family</key>
		<string>MacBook Air</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x3A</string>
		<key>ProductName</key>
		<string>MacBookAir8,2</string>
		<key>ProductName-Comment</key>
		<string>Using Haswell MacBookAir14,2 until Clover has support for Skylake identifiers</string>
		<key>SerialNumber</key>
		<string>FVFYQ00SLYWM</string>
		<key>SmUUID</key>
		<string>29A9F982-6363-4649-84CA-4C65B94F508D</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>